{% extends "layout.html" %}

{% block title %}
    Suggestions / Complaint book
{% endblock %}

{% block main %}
        <h1>Suggestions / Complaint book</h1>
        <br>
    <form action="/feedback_todo" method="post">
        <button class="btn btn-primary btn-lg" type="submit">Make a suggestion or complaint?</button>
    </form>
    <br>
        <table class="table">
          <tr>
            <th>Flat No</th>
            <th>Submitted on</th>
            <th>Subject</th>
            <th>Status</th>
          </tr>
        {% for row in rows %}
          <tr>
            <td>{{ row.flat }}</td>
            <td><form action="/feedback_more" method="POST" id="{{ row.datetime }}"></form>
<button class="btn btn-primary btn" type="submit" form="{{ row.datetime }}" name=name value="{{ row.datetime }}">{{ row.datetime }}</button></td>
            <td>{{ row.subject }}</td>
            <td>{{ row.status }}</td>
          </tr>
        {% endfor %}
        </table>

{% endblock %}
