{% extends "layout.html" %}

{% block title %}
    Notice Board(Admin)
{% endblock %}

{% block main %}
        <h1>Notice Board editor</h1>
        <br>
    <form action="/notices_todo" method="post">
        <button class="btn btn-primary btn-lg" type="submit">Post a notice</button>
    </form>
    <br>
        <table class="table">
          <tr>
            <th>Dated</th>
            <th>Subject</th>
            <th>Posted by</th>
            <th>Status</th>
          </tr>
        {% for row in rows %}
          <tr>
            <td><form action="/notices_more" method="POST" id="{{ row.datetime }}"></form>
<button class="btn btn-primary btn" type="submit" form="{{ row.datetime }}" name=name value="{{ row.datetime }}">{{ row.datetime }}</button></td>
            <td>{{ row.subject }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.status }}</td>
          </tr>
        {% endfor %}
        </table>

{% endblock %}
