{% extends "layout.html" %}

{% block title %}
    Security
{% endblock %}

{% block main %}
        <h1>Security Team</h1>
        <table class="table">
          <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
          </tr>
          <tr>
            <td>Maester Aemon</td>
            <td>098 345 493</td>
            <td>aemon@security.com</td>
          </tr>
          <tr>
            <td>Cdr Denys Mallister</td>
            <td>098 345 492</td>
            <td>denys@security.com</td>
          </tr>
          <tr>
            <td>Cdr Cotter Pyke</td>
            <td>098 345 494</td>
            <td>cotter@security.com</td>
          </tr>

        </table>

{% endblock %}
